body{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.header{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 24px;
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.8;
}

.mainContent{
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.mainInfo{
    width: 27vw;
}

.mainInfo h1{
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.mainInfo p{
    font-size: 18px;
    color: #E5E7EB;
    opacity: 0.8;
    margin: 0;
}

.mainInfo button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 21px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px; 
}

.explanationSec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.explanationSec h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 75px;
    padding: 50px;
    flex-wrap: wrap;
}

.cards div{
    width: 175px;
    text-align: center;
}

.cards div img{
    border-radius: 8px;
}

.cards div p{
    color: #1F2937;
    opacity: 80%;
    margin: 8px;
}

.ReviewSec{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ReviewContent{
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

.ReviewBy{
    font-size: 18px;
    font-weight: 800;
    align-self: flex-end;
}